name: Publish

on:
  push:
    tags:
      - "v*"
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v4

      - name: Setup Deno
        uses: denoland/setup-deno@v1
        with:
          deno-version: v2.x

      - name: Verify code quality
        run: |
          deno fmt --check
          deno lint
          deno check **/*.ts

      - name: Run tests
        run: deno test --allow-all

      - name: Publish package
        run: deno publish --allow-dirty
